DEBUG=True
SECRET_KEY=replace-this-with-a-development-secret

POSTGRES_DB=choto_db
POSTGRES_USER=choto
POSTGRES_PASSWORD=sulavmhrzn
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://choto:sulavmhrzn@db:5432/choto_db

API_PORT=8000